 body {
    /* box-sizing: border-box; */
     background-color: #001a33;
     
 }

 .navbar h1 {
     font-size: xx-large;
     margin-left: 100px;
     padding-top: 20px;
     padding-bottom: 10px;
 }

 .navbar {
     font-size: x-large;
 }

 .cs {

     margin-top: 120px;
     margin-bottom: 200px;

     border-radius: 50%;
     color: white;
 }
 .row h1
 {
margin-right: 100px;
padding-top: 40px;
 }
 .col-lg-7
 {
margin-bottom: 300px;
 }

 .col-lg-7 {
     margin-top: 300px;
     margin-bottom: 200px;
   
     color: white;
     color: white;
     font-size: larger;
 }

 .col-lg-7 p {
     margin-top: 50px;


 }

 button {
     margin-top: 50px;
     margin-left: 200px;

 }

 .container {
     margin-top: 200px;
     margin-right: 50px;
     color: white;
 }

 .container h1 {
     margin-top: 50px;
     margin-left: 200px;
 }

 .container h3 {
     margin-top: 50px;
     margin-left: 200px;
 }
 .container-fluid
 {
    color: white;
 }
 .skill 
 {
    background-color:#001a33 ;
    color: black;
    margin-right: 200px;
    margin-top: 200px;
    
 }
 .skill h1
 {
margin-top: 200px;
 }
 .col-lg-3
 {
    border: 2px solid aqua;
    border-radius: 20px;
 }
 .project
 {
    padding-top: 100px;
 }
 .card 
 {
    color: aliceblue;
    width: 200px;
    height: 100px;
    margin-top: 100px;
 
 }
 .contact
 {
    padding-top: 50px;
 }
 .contact input
 {
    width: 400px;
 }
.mb-3
{
    width: 400px;
}
 .btn
{
    width: 100px;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 100px;
}
 